* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background: #1c2634;
  }
  body,
  input,
  button {
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  form {
    padding: 2.4rem;
    max-width: 40rem;
    margin: auto;
    
  }

  .inputs {
    margin-top: 1rem;
    margin-left: -20rem;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 40rem;
  
  }

  span {
    font-weight: 600;
    font-size: 1.4rem;
    color: #e5e7eb;
  
    gap: 0.4rem;
    align-items: center;
  }
  
  input {
    margin-top: 0.4rem;
  
    width: 100%;
    font-family: "Source Sans Pro";
  
    padding: 1.2rem;
    border: 0.1rem solid #374151;
  
    background: #111827;
    border-radius: 0.4rem;
  
    color: #f3f4f6;
  }

 .card-cpf-input:focus{
  border: 0.15rem solid #00ff37;
  outline: 0.15rem solid #1aff00;
 }
  
  input:focus {
    border: 0.15rem solid #ff007f;
    outline: 0.15rem solid #ff007f;
  }

 
  
  .divisao{
    display: flex;
    justify-content: center;
    gap: 15px;

   
  }

  #credit-card {
    display: flex;
    justify-content: center;
    gap: 15px;


  }
  #front{
    color: #f3f4f6;
    padding: 7rem 12rem;
    position: fixed;
    top: 30%;
    right: 10rem; 
    transform: translate(0, -50%); 
    background:linear-gradient(to right, #ff007f, #be074d); 
    border-radius: 1rem;
 
  }
  #back{
    color: #f3f4f6;
    padding: 7rem 12rem;
    position: fixed;
    top: 30%;
    right: 10rem; 
    transform: translate(0, -50%); 
    background:linear-gradient(to right, #ff007f, #be074d); 
    border-radius: 1rem;
 
    
  }

  #exibirnumero{
    position: absolute;
  top: 60%;
  left: 9rem;
  transform: translate(-50%, -50%);
 
  }

  #exibirnome{
    position: fixed;
  top: 80%;
  left: 7.6rem;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  max-width: 160px;

  }

  #exibirvalidade{
    position: absolute;
  top: 80%;
  right: 10%;
  transform: translate(-50%, -50%);
  font-size: 1rem;


  }

  
  #exibiroperadora img{
    width: 80px;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    filter: brightness(100);
  }

  #exibircodigo{
   
    position: absolute;
    top: 40%;
    right: 2rem;
    border: 2px solid #f3f4f6;
    border-radius: 50%;
    padding: 8px;
    font-size: 1rem;
   
    transform: translate(-50%, -50%);
  }

  #documento{
    color: #f3f4f6;
    padding: 3rem 2.3rem;
    position: fixed;
    top: 30%;
    right: 10rem; 
    transform: translate(0, -50%); 
    background:linear-gradient(to right, #00ff37, #07be50); 
    border-radius: 1rem;
  
   
 
  }
  #exibircpf{
   
    position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
 
  
  }
  
  #imagemperfil{
    width: 100px;
  }
 
  .card-front {
    display: block;
}

.card-back {
    display: none;
}

.card-flipped .card-front {
    display: none;
}

.card-flipped .card-back {
    display: block;
}

.hidden {
    display: none;
}
.cpf-flipped .hidden {
    display: block;
}

button {
  margin-top: 1rem;
  margin-left: 7rem;

  border: 0;
  padding: 1.6rem;
  width: 60%;
  background: #ff007f;
  box-shadow: 0rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #f9fafb;

  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #00ff37;
}

 
  
 
  
 